<header class="Header" style="background-color: #222222;">
  <div class="container-lg d-flex flex-items-center py-2" style="display: flex; align-items: center; padding-top: 0.5rem; padding-bottom: 0.5rem; max-width: 1080px; margin: 0 auto;">
    <div class="flex-auto" style="flex: 1 1 auto;">
      <%= link_to root_path, class: "Header-link" do %>
        Tutuma
      <% end %>
    </div>

    <div class="d-flex flex-items-center" style="display: flex; align-items: center;">
      <% if current_user %>
        <% if current_user.accounts.count > 1 %>
          <%= link_to account_switch_path, class: "Label Label--primary mr-3 d-flex flex-items-center", style: "display: inline-flex; align-items: center; padding: 0.125em 0.75em; font-size: 0.85em; font-weight: 500; line-height: 1.5; border-radius: 2em; background-color: #0366d6; color: white; margin-right: 1rem; text-decoration: none;" do %>
            <%= current_account.name %>
            <span class="ml-1" style="margin-left: 0.25rem; font-size: 0.75em;">&#9662;</span>
          <% end %>
        <% else %>
          <span class="Label Label--primary mr-3" style="display: inline-block; padding: 0.125em 0.5em; font-size: 0.85em; font-weight: 500; line-height: 1.5; border-radius: 2em; background-color: #0366d6; color: white; margin-right: 1rem;"><%= current_account.name %></span>
        <% end %>
      <% end %>
      <div class="ml-auto" style="margin-left: auto;">
        <%= render LogoutButtonComponent.new(
          scheme: :danger,
          size: :medium,
          tag: :a
        ) %>
      </div>
    </div>
  </div>
</header>
