<div>
  <h1><%= account.name %></h1>
  <h2>Team Members</h2>

  <% if current_user.admin? %>
    <%= link_to "Invite Team Members", 
        new_invitation_path %>
  <% end %>

  <ul>
    <% users.each do |user| %>
      <li>
        <div>
          <span><%= user.name %></span>
          <span>(<%= user.email_address %>)</span>
          <% if user.admin? %>
            <span>Admin</span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= render LogoutButtonComponent.new(full_width: true) %>
</div>
