<h1>Invite Team Members</h1>

<%= form_tag invitations_path, method: :post, data: { controller: "invitations" } do %>
  <div id="invitation-fields">
    <div class="invitation-row">
      <%= fields_for "invitations[]", Invitation.new do |f| %>
        <div>
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, required: true %>
        </div>
        <div>
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, required: true %>
        </div>
      <% end %>
    </div>
  </div>

  <button type="button" data-action="click->invitations#addRow">Add Another Person</button>
  <%= submit_tag "Send Invitations", class: "button" %>
<% end %> 