<div class="todo-container sign-in-container" data-controller="passwords--reset-form-component">
  <div class="theme-toggle">
    <button id="theme-switch">游깹</button>
  </div>
  <h1>Obnovenie hesla</h1>
  
  <% if @flash[:alert] %>
    <div class="alert-message"><%= @flash[:alert] %></div>
  <% end %>
  
  <% if @flash[:notice] %>
    <div class="notice-message"><%= @flash[:notice] %></div>
  <% end %>
  
  <%= form_with url: passwords_path, class: "sign-in-form" do |form| %>
    <div class="input-container">
      <%= form.email_field :email_address, 
                         required: true, 
                         autofocus: true, 
                         autocomplete: "username", 
                         placeholder: "Zadajte va코u emailov칰 adresu", 
                         value: @email_address,
                         class: "task-input" %>
    </div>
    
    <div class="button-container">
      <%= form.submit "Odosla콘 in코trukcie na reset", class: "submit-button" %>
    </div>
  <% end %>
  
  <div class="forgot-password">
    <%= link_to "Sp칛콘 na prihl치senie", new_session_path, class: "forgot-link" %>
  </div>
</div>

<% content_for :head do %>
  <%= stylesheet_link_tag "neumorphic_form", media: "all" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "theme_switcher" %>
<% end %> 