<div class="p-4 d-flex flex-justify-center">
  <div class="col-6 col-md-5 col-lg-4">
    <div class="Box p-4 mt-3 mb-3">
      <h2 class="f2-light mb-4 text-center">Prihlásenie</h2>

      <%= form_with url: session_path, class: "d-flex flex-column" do |form| %>
        <div class="FormControl mb-3">
          <%= form.label :email_address, "E-mailová adresa", class: "FormControl-label" %>
          <%= form.email_field :email_address, 
              required: true, 
              autofocus: true, 
              autocomplete: "username", 
              placeholder: "Zadajte vašu e-mailovú adresu", 
              value: email_address,
              class: "FormControl-input" %>
        </div>

        <div class="FormControl mb-4">
          <%= form.label :password, "Heslo", class: "FormControl-label" %>
          <%= form.password_field :password, 
              required: true, 
              autocomplete: "current-password", 
              placeholder: "Zadajte vaše heslo", 
              maxlength: 72,
              class: "FormControl-input" %>
        </div>

        <%= form.submit "Prihlásiť sa", class: "btn btn-primary btn-block" %>
      <% end %>

      <div class="text-center mt-3">
        <%= render Primer::Beta::Link.new(href: new_password_path) do %>
          Zabudli ste heslo?
        <% end %>
      </div>
    </div>
  </div>
</div> 